#navvvv
{
    background-color: rgb(146, 139, 126) !important; 
  } 
.firstpart
{
    background-color: gray !important; 
}
.nav-link
{
    color: aliceblue;
    
}
/* end css off fitsr section with second bar */
.article
{
    top: 10% !important;
}
.photoooo
{
    height: 70vh;
    width: 100%;
}

.barak
{
    background-color: gray !important;
}
/* end css off second section with article  */
